@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body>
    <img src="~/Content/Banner.png" width="100%" height="100%" alt=”Injustice Banner”> 


    <div>
    <h2>INJUSTICE RETURNS</h2>
    <p>Injustice 2 is the super-powered sequel to the hit game Injustice: Gods Among Us that allows players to build and power up the ultimate version of their favorite DC characters. Featuring a massive selection of DC Super Heroes and Super-Villains, players can personalize iconic DC characters with unique and powerful gear earned throughout the game. Additionally, for the first time, gamers can take control of how their characters look, fight and develop across a variety of game modes.</p>
    </div>

    <div>
    <h3>Every Battle Defines You</h3>
    <p><img src="~/Content/Atrocitus.png" width="450" height="288" alt=”Injustice Banner” align="left">Injustice 2 expands on the previous title’s larger-than-life showdowns. With every match, players earn gear to equip, customize and level-up their favorite DC Super Heroes and Super-Villains that meaningfully impacts not only how they look, but also how they fight.</p>
    </div>    

    <div>
    <h3>Massive Roster of DC Characters</h3>
    <p><img src="~/Content/dc.png" width="458" height="288" alt=”Injustice Banner” align="right">Players can choose from the biggest DC roster ever offered in a fighting game, from classic fan favorites such as Batman, Superman, Supergirl, The Flash, Aquaman, Wonder Woman and Blue Beetle, to astonishing new villains like Atrocitus, Gorilla Grodd and Deadshot.</p>
    </div>   

    <div>
    <h3>Epic, Cinematic Storyline</h3>
    <p><img src="~/Content/grodd.png" width="368" height="302" alt=”Injustice Banner” align="left">Injustice 2 continues the story set in motion in Injustice: Gods Among Us as Batman and his allies work towards putting the pieces of society back together, but struggle against those who would restore Superman’s Regime. In the midst of this chaos, a new threat appears that will put Earth’s very existence at risk.</p>
    </div>

    <div>
    <h3>Built By Netherrealm Studios</h3>
    <p><img src="~/Content/neatherrealm.png" width="174" height="195" alt=”Injustice Banner” align="right">Developers of the best-selling and critically acclaimed Mortal Kombat franchise, NetherRealm Studios brings unrivaled storytelling, robust content, and best-in-class fighting mechanics to the DC Universe.</p>
    </div>

</body>
