@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body>
    <img src="~/Content/Banner.png" width="100%" height="100%" alt=”Injustice Banner”>
    <h3> We are here to help!</h3>

    <!-- This is the iframe/Map portion of the Contact Page-->
    <div>
        <p class="iframemap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25437.15426415832!2d-88.72981808121082!3d37.16115691321055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887a06e4e57107b7%3A0x3f21b2db51d41bec!2sMetropolis%2C+IL!5e0!3m2!1sen!2sus!4v1501287771552" width="600" height="450" frameborder="0" style="float:left" allowfullscreen></iframe>
        </p>
    </div>

    <!-- This is the Phone Number and Address portion of the Contact Page-->
    <div class="contactinfo">
        <p>

            &nbsp &nbsp &nbsp U.S. and English Telephone Support is available 7 days a week from 8:00 am to 
            &nbsp &nbsp &nbsp 8:00 pm EST.
            <br />
            &nbsp &nbsp &nbsp United States
            &nbsp &nbsp &nbsp (855)WBGAMES or (855)924-2637
        </p>
        <address >
            &nbsp &nbsp &nbsp 15 Fighters Way<br />
            &nbsp &nbsp &nbsp Orlando, Fl 32825<br />
            &nbsp &nbsp &nbsp P:
            410.333.1182
        </address>

        <address class="contactinfo">
            <strong>&nbsp &nbsp &nbsp Game Support:</strong>   <a href="mailto:Support@example.com">Support@Injustice2.com</a><br />
            <strong>&nbsp &nbsp &nbsp Marketing Opportunities:</strong> <a href="mailto:Marketing@example.com">Marketing@Injustice2.com</a>
        </address>
    </div>
</body>