@{
    ViewBag.Title = "Fighters";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body>
    <img src="~/Content/Banner.png" width="100%" height="100%" alt=”Injustice Banner”> 
    <p></p>
    <h3>Batman</h3>
        <p>
            Even after he’s been exposed to the world as Batman, Bruce Wayne keeps his vow to avenge his parents’ death by fighting for justice. He refuses to execute his enemies, believing that once he crosses that line, he’s no better than the cowards he battles.
        </p>
    <h3>Superman</h3>
        <p>
            After the fall of the Regime, Superman now remains a permanent resident of a prison built to contain and suppress the man of steel. Still grieving the loss of Lois and their unborn son, Superman maintains that peace can only be achieved through subjugation -- But as a new threat looms, can old enemies forge new alliances?
        </p>
    <h3>Wonder Woman</h3>
        <p>
            An exiled sister of Themyscira, Wonder Woman remains in hiding after the fall of the Regime. Still an ardent believer of Superman and his rule, Wonder Woman awaits her opportunity to strike back against Batman and free Superman from his imprisonment.
        </p>
    <h3>Supergirl</h3>
        <p>
            As a child Kara Zor-El witnessed the devastation of Krypton before she was sent to Earth on a mission to protect her infant cousin, Kal-El. Arriving on Earth decades too late, she discovered that grown-up Kal has been imprisoned. Still determined to protect her family, and its legacy, Kara will fight her cousin’s enemies as Supergirl.
        </p>
    <h3>Aquaman</h3>
        <p>
            The Atlantean ruler has isolated his kingdom from the surface world’s affairs after a punishing defeat during the fall of Superman’s Regime. However his determination to keep Atlantis' independence may cost him, as new threats rise can Aquaman swallow his pride to protect his people?
        </p>
    <h3>Atrocitus</h3>
        <p>
            Red Lantern Atrocitus seeks revenge against all members of the Sinestro Corps for their murderous oppression of his homeworld. His hate blazes a path across the galaxy leading him to Earth. Sensing an opportunity on the post Regime planet, Atrocitus focuses on bolstering the Red Lanterns ranks by stoking the flames of rage.
        </p>
    <h3>Gorilla Grodd</h3>
        <p>
            Telepathic brute, Gorilla Grodd, has long sought to prove his peerless genius by subjugating mankind. He’s gone so far as to form an anti-Justice League, the Society, to once and for all smash their opposition. Using his intellect and telepathy Grodd enlists others in his mission to conquer the planet and fill void of power left by Superman’s Regime.
        </p>
    <h3>Deadshot</h3>
        <p>
            Floyd Lawton is “the” human arsenal, his aim lethal from any range. Having escaped imprisonment during the Regime, he now enters the fray as an expert assassin for hire, forced to contend with the fact that Grodd has come into possession of the detonator to the Personal Explosive Device implanted in his head.
        </p>
    <h3>Harley Quinn</h3>
        <p>
            Since the fall of the Regime, Harley Quinn has found little solace in the incarceration of Superman. Still feeling a tremendous void left by Joker's death, Harley remains an unstable and uneasy ally. Resolute in her conviction, she refuses to let fugitives, assassins, or even criminals she once called friends stand in the way of her exacting revenge upon the man who silenced The Joker’s laugh.
        </p>
    <h3>The Flash</h3>
        <p>
            Once known as The Fastest Man Alive, Barry Allen has hung up his boots in public shame after defecting from the Regime. However as a new enemy threatens the innocent, The Flash returns to action, determined to redeem himself.
        </p>
    <h3>Blue Beetle</h3>
        <p>
            Jaime Reyes sought Batman’s help in learning to use the Scarab, an alien weapon of mass destruction bonded to his spine. Although the Scarab could pose a deadly threat to the entire planet, kindhearted Jaime is determined to protect people, wary of the corruptive influence of great power he witnessed under the Regime.
        </p>
    <h3>Bane</h3>
        <p>
            After Superman’s defeat, Bane was betrayed by the Regime and relentlessly pursued by Batman. Having already spent most of his life in prison, he is determined to take revenge against his former Regime masters and turn Gotham into a city where his rule is law.
        </p>
    <h3>Poison Ivy</h3>
        <p>
            Dr. Pamela Isley was once an innovative, radical botanical biochemist with a singular goal: make the world safe for plant life to flourish. She joins the Society to further their common interest in bringing mankind to its knees, but at heart, Ivy’s desire is to ensure that in any new world order, flora dominates fauna.
        </p>
    <h3>Braniac</h3>
        <p>
            Brainiac is a megalomaniacal genius who roams the universe, collecting knowledge to increase his intellectual and scientific prowess. Obsessed with establishing his superiority, Brainiac captured Krypton’s greatest cities, then eradicated what remained…or so he thought. Tales of the “Last Son of Krypton” have reached far into the stars. Now, the Collector of Worlds comes to Earth to finish his accumulation of Krypton -- and discovers a new world worthy of his collection.
        </p>
    <h3>Robin</h3>
        <p>
            Raised from birth by the League of Assassins, Damian Wayne has always struggled with Batman’s non-lethal code of honor. Now in direct opposition with his father, Damian seeks a new mentor in Superman -- whom he considers to be more of a father than Batman ever was.
        </p>
    <h3>Black Canary</h3>
        <p>
            Dinah Lance nearly sacrificed everything in her fight against the Regime but was forced to flee, before the fight was done. Now, with Batman restoring order, Black Canary has returned home to set things right, vowing to never again silence her canary’s cry.
        </p>
    <h3>Swamp Thing</h3>
        <p>
            The living elemental, Swamp Thing is the protector of all plant life, what he refers to as “the Green.” As the violent affairs of humanity threaten to impact flora worldwide, Swamp Thing prepares his return to the fray to defend “the Green” from destruction.
        </p>
    <h3>Catwoman</h3>
        <p>
            Consistently walking the line between hero and villain, Selina Kyle's pilfering past as Catwoman prevents Batman from ever placing his full trust in her. As the ashes of the Regime give rise to the sinister Society, the Caped Crusader must once again speculate where this thieving feline's loyalties lie.
        </p>
    <h3>Cheetah</h3>
        <p>
            When archaeologist Barbara Ann Minerva betrayed Wonder Woman to claim the powers of a god, she was unaware that she would be cursed to live a life transformed as the Cheetah. She now uses her primal powers to take revenge against Wonder Woman, drawing her out of hiding in hopes of bringing about her doom.
        </p>
    <h3>Cyborg</h3>
        <p>
            Victor Stone lost more than his friends at the tragedy of Metropolis, he lost his hope. His anger tempered his loyalty for Superman and he has remained eager to serve the Regime. With the world left unprepared for the looming threat, Cyborg may be the only one who can combat the technological might of Brainiac.
        </p>
    <h3>Dr.Fate</h3>
        <p>
            Powerful sorcerer Kent Nelson wears the Helm of Fate and sees the fate of all mankind, for better or worse. He knows the world will end -- either by Brainiac’s hand, or in a war between Batman and Superman. Though the Helm compels Kent to preserve this grim fate for the sake of Order, Kent’s humanity compels him to intervene on behalf of his heroic friends -- and risk the unforeseeable consequences.
        </p>
    <h3>Greeen Lantern</h3>
        <p>
            Rehabilitated by the Guardians of Oa, Hal Jordan overcame his worst fears from his time as a member of the Sinestro’s Corps. Now a Green Lantern once more, Hal returns to Sector 2814 on a mission to stop Brainiac’s invasion and prove to himself that he deserves a second chance at a brighter day.
        </p>
    <h3>Firestorm</h3>
        <p>
            Two minds sharing one super-powered body, Jason Rusch and Martin Stein are only beginning to master their abilities as Firestorm. However reconciling Jason’s brash personality with Martin’s more empirical approach is no small task. While these two don’t agree on much, one thing they never argue about is helping Batman rebuild a safer world.
        </p>
    <h3>Green Arrow</h3>
        <p>
            It’s been a hard traveled road of the emerald archer, as this Earth’s Oliver Queen gave his life in the fight against the Regime. Now as an alternative Earth’s Ollie steps in to honor that sacrifice, he will join his wife Black Canary in Batman’s crusade to set things right.
        </p>
    <h3>Black Adam</h3>
        <p>
            After the fall of the Regime, Black Adam returned to his home defeated and humiliated. Staying hidden from Batman’s watchful eye, Kahndaq has become a safe haven for the Regime’s remnants. There they await the day that together they can restore the Regime's rule upon the world.
        </p>
    <h3>Captain Cold</h3>
        <p>
            Sworn to ending all crime, the Regime hunted down and brutally executed every member of the Rogues, including Captain Cold’s sister. Using his skills as a thief and his iconic Cold Gun, Cold now seeks his vengeance. He’ll gladly use the Society to achieve it.
        </p>
    <h3>Scarecrow</h3>
        <p>
            Scarecrow plays on the fears of the unknown to inflict terror on his victims. An anarchist obsessed with using chemistry and psychology to spread and study fear. He joins the Society in order to sow panic on a global scale.
        </p>
    <h3>Darkseid</h3>
        <p>
            A being of pure hate incarnate, the lord of Apokolips Darkseid demands the total subjugation of all existence. His merciless obsession has left a wake of suffering and obliteration as he seeks the Anti-Life Equation. With his invincible body, limitless strength, army of Parademons, and the annihilating power of his Omega Beams make him not only a threat to this world, but to every world within reach.
        </p>
    <h3>Joker</h3>
        <p>
            Though killed by Superman, The Joker continues to haunt the lives of all those touched by his madness. By destroying Metropolis, he set the events in motion which made enemies of Superman and Batman. If he were alive to see the chaos he’d created, he would surely be smiling.
        </p>
    <h3>Red Hood</h3>
        <p>
            Jason Todd once served as Batman’s second protégé "Robin" before being brutally murdered by The Joker. Years later, the powerful healing waters of the Lazarus Pit brought Jason Todd back to life. However the power of the pit comes at a cost, and a change takes hold in Jason. He now uses mantle of the Red Hood to wage a lethal war on crime.
        </p>
    <h3>Starfire</h3>
        <p>
            As the next Queen of Tamaran, Princess Koriand’r found herself the victim of her fratricidal sister's vengeful plot that resulted in their planet being conquered. Now a royal exile on Earth, Koriand’r uses her ability to absorb and convert ultraviolet energy as Starfire.
        </p>
    <h3>Sub-Zero</h3>
        <p>
            Sub-Zero is a lethal cryomancer and leader of the reformed Lin Kuei clan. When Sub-Zero was younger, the Lin Kuei were corrupted and destroyed from within, staining their honor. Now serving as Grandmaster, Sub-Zero vows to redeem that honor, pledging to defend the realm from threats near, far, and beyond. In the intergalactic menace Brainiac, Sub-Zero sees a threat to all worlds, and perhaps his greatest opportunity for redemption yet.
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
    <h3>Unknown</h3>
        <p>
            Mystery DLC Character
        </p>
</body>
