@{
    ViewBag.Title = "Tips";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body>
    <img src="~/Content/Banner.png" width="100%" height="100%" alt=”Injustice Banner”> 
    <h3>Where to begin?</h3>
    <p>There’s a lot to understand when it comes to Injustice 2, as this is much more than just your basic fighting game. You can undertake both a single-player campaign as well as multiplayer matches against opponents, all while earning new gear to equip your characters with. In this Injustice 2 Guide we’ll give you all the info you need to become a master Batman, Joker, Bane (or any other character) player. We've got details on how to unlock character items and how to earn Mother Boxes. </p>
    
    <p>Injustice 2 All DLC Characters
NetherRealm has revealed several Injustice 2 DLC characters, that can only be purchased with the DLC Fighter Pack 1, or the Injustice 2 Season Pass. The DLC characters released for Injustice 2 so far are: 
        List:
        *Red Hood
        *Starfire
        *Sub-Zero
    </p>
    <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JMlHZwD6tuQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ls9Tvv14pfg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </p>
    <h3>Newbies</h3>
    <p> If you’re a newcomer to the Injustice series, or even a veteran of either the previous entry or fighting games in general, it’s still a wise idea to consult the tutorial for Injustice 2. There are both novice and in-depth tutorials, for old and new characters alike.

The tutorial introduces you to blocking, dodging, and Character Powers, and the Practice Mode allows you to hone all your skills against an AI opponent. If you find you're getting beaten down online, don't be afraid to fall back on the Practice Mode to perfect your fighting moves. </p>

    <p>Remember to Use Items in the Environment
    List:
*Watch for a faint white line around usable items across all the maps in Injustice 2.
*Press the right shoulder button, and if you're facing towards your opponent, you'll hurl the item towards them, inflicting some hefty damage.
*Some items can also be used to traverse the map quickly, for example the crocodile in Swamp Thing's map allows the player to leap over the enemy.
*Remember to use items found on the edges of the map, if you've got your back up against the wall.</p>

</body>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">CyborgTechSupport@Injustice.com</a><br />
</address>